PRIVATE_KEY=""
ETHERSCAN_API_KEY=""
LISK_SEPOLIA_RPC_URL=""
UNICHAIN_SEPOLIA_RPC_URL=""
ETHEREUM_SEPOLIA_RPC=""
UNICHAIN_SEPOLIA_CHAIN_ID=""
LISK_SEPOLIA_CHAIN_ID=""
SEPOLIA_CHAIN_ID=""
REACTIVE_ETHEREUM_SEPOLIA_ADDRESS=""
REACTIVE_TESTNET_RPC=""
REACTIVE_TESTNET_CHAIN_ID=""